.list
	list-style none
	width 400px
	text-align center
	li
		display inline-block
		width 49%
		vertical-align top

.note-item
	border 3px solid #222
	padding 20px
	position relative
	.js-delete
		position absolute
		top 5px
		right @top
	.js-save
		position absolute
		left 5px
		bottom @left
		display none
	.ct-item
		width 150px
		height @width
		&.edit
			border 1px solid red
.button
	display inline-block
	border none
	background none