<!-- <form action="/notes" class="form-horizontal">
	<div class="control-group">
		<label for="text" class="control-label">Note text:</label>
		<div class="controls">
			<textarea row="3" name="text" id="text"></textarea>
		</div>
	</div>
	<div class="form-actions">
		<button class="btn btn-primary" type="submit" id="send-note">Send note</button>
	</div>
</form> -->
<ul class="note-list">
	<li >
		<div class="note-item">
			<div class="ct-item new" contenteditable="true">

			</div>
			
			<button class="btn" id="send-note">+</button>
		</div>
	</li>
</ul>