<% if ((token) == "") { %>
<div class="control-group">
	<label for="email" class="control-label">Your email:</label>
	<div class="controls">
		<input type="email" name="email" id="email" value="test4@mail.com">
	</div>
</div>
<div class="control-group">
	<label for="password" class="control-label">password:</label>
	<div class="controls">
		<input type="password" name="password" id="password" value="123">
	</div>
</div>
<div class="form-actions">
	<button class="btn btn-primary" type="submit" id="login">Login</button>
</div>
<a href="/auth/facebook">Login with Facebook</a>
<% } else { %>
<a href="/usernotes">usernotes</a>
<% } %>