<div class="list-item <% if (!model.state){ %>inactive<%} %>">
    <div class="label">
        <%= model.type %>
    </div>
    <div class="badge badge-info">
        <%= priorityDoc[model.priority] %>
    </div>
    <div class="title">
        <strong><%= model.title %></strong>
    </div>

    <%= model.startDate %>

    <div class="buttons">
        <button class="btn btn-primary js-edit">Edit</button>
        <button class="btn btn-danger js-delete">Del</button>
    </div>

    <div class="description">
        <%= model.description %>
    </div>
</div>