<div class="list-item <% if (model.state){ %>active<%} %>">
    <div class="type">
        <%= model.type %>
    </div>
    <div class="priority">
        <%= priorityDoc[model.priority] %>
    </div>
    <div class="title">
        <strong><%= model.title %></strong>
    </div>

    <!--        <%= model.creationDate %>
    <%= model.startDate %>

 -->

    <div class="buttons">
        <button class="btn js-delete">Del</button>
        <button class="btn js-edit">Edit</button>
    </div>

    <div class="description">
        <%= model.description %>
    </div>
</div>