<form action="/list" class="form-horizontal">
	<div class="control-group">
		<label for="title" class="control-label">Item title:</label>
		<div class="controls">
			<input type="text" name="title" id="title" required>
		</div>
	</div>
	<div class="control-group">
		<label for="description" class="control-label">Item description:</label>
		<div class="controls">
			<textarea row="3" name="description" id="description"></textarea>
		</div>
	</div>
	<div class="control-group">
		<label for="priority" class="control-label">priority:</label>
		<div class="controls">
			<input type="text" name="priority" id="priority">
		</div>
	</div>	
	<label for="task-type" class="radio inline">
		<input type="radio" name="type" id="task-type" value="task" checked>
		Task
	</label>
	<label for="event-type" class="radio inline">
		<input type="radio" name="type" id="event-type" value="event">
		Event
	</label>
	<div class="form-actions">
		<button class="btn btn-primary" type="submit" id="send-item">Send item</button>
	</div>
</form>
<ul class="list"></ul>